#footer {
    margin-top: 80px;
}
#footer .row .column{
    margin-top: 30px;
}
#footer .row .inline {
    border-bottom: 3px solid var(--main-color);
    margin-bottom: 25px;
}
#footer .row h3 {
    color: var(--main-color);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--main-color);
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
}
#footer .row #footerDesc {
    font-size: 15px;
    line-height: 22px;
    color: #666;
    font-weight: 400;
}
#footer .row #footerContact {
    list-style: none;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    color: #666;
    font-weight: 400;
}
#footer .row .list-group {
    list-style: none;
    padding: 0;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
}
#footer .row .list-group-item {
    padding-right: 0;
    padding-left: 0; 
}
#footer .row .list-group-item p{
    color: #666;
    margin: 0;
}
#footer .row .list-group-item p a{
    text-decoration: none;
    color: #666;
}