.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .navbar-brand {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
  }
  .navbar-brand img{
    padding: 8px;
  }
  .nav-link {
    color: var(--main-color) !important;
  }
  .navbar-toggler {
    border-color: var(--main-color) !important;
  }
  .navbar-toggler-icon {
    background-image: url(../images/menu.png);
  }
  .navbar-toggler:focus {
    box-shadow: none !important;
  }