.sectionOurServices {
    padding: 110px 0 70px;
    position: relative;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: var(--main-color);
}
.sectionOurServices .row h1 {
    color: #fff;
}
.sectionOurServices .row .nav .nav-item {
    display: inline-block;
    position: relative;
    margin: 5px 10px;
    font-size: 16px;
}
.sectionOurServices .row .nav a{
    color: #fff;
    text-decoration: none;
}
.sectionOurServices .row .nav li#liBefor::before{
    display: inline-block;
    padding-right: 0.5rem;
    color: #fff;
    content: '>';
}
/* ******************* */
.sectionNettoyage{
    margin-top: 80px;
}
.sectionNettoyage div.col-lg-6{
    /* align-self: center;
    text-align: center; */
}
.sectionNettoyage img{
    width: 100%;
    border-style: solid;
    border-width: 0 9px 8px 0;
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 0px 3px var(--main-color);
}
.sectionNettoyage p{
    text-align: justify;
    margin-top: 20px;
    color: #777;
    font-weight: 600;
}
.sectionNettoyage ul{
    list-style: none;
    color: #777;
}
/* ******************* */
.sectionGardiennage{
    margin-top: 80px;
}
.sectionGardiennage div.col-lg-6{
    /* align-self: center;
    text-align: center; */
}
.sectionGardiennage img{
    width: 100%;
    border-style: solid;
    border-width: 0 0px 8px 9px;
    border-color: #fff;
    border-radius: 5px;
    box-shadow: -7px 7px 0px 3px var(--main-color);
}
.sectionGardiennage p{
    text-align: justify;
    margin-top: 20px;
    font-weight: 700;
    color: #777;
}
.sectionGardiennage ul{
    list-style: none;
    color: #777;
}
.sectionGardiennage span{
    font-weight: 700;
    color: var(--main-color);
}
/* ******************* */
.sectionJardinage{
    margin-top: 80px;
}
.sectionJardinage div.col-lg-6{
    /* align-self: center;
    text-align: center; */
}
.sectionJardinage img{
    width: 100%;
    border-style: solid;
    border-width: 0 9px 8px 0;
    border-color: #fff;
    border-radius: 5px;
    box-shadow: 7px 7px 0px 3px var(--main-color);
}
.sectionJardinage p{
    text-align: justify;
    margin-top: 20px;
    color: #777;
    font-weight: 600;
}
.sectionJardinage ul{
    color: #777;
    list-style: none;
}
.sectionJardinage span{
    color: var(--main-color);
    font-weight: 700;
}