#sectionServices {
  padding: 20px;
  margin-top: 80px;
}
#sectionServices #headTitle{
  text-align: center;
  padding: 50px 0 50px;
}
#nosServices {
    color: var(--main-color);
    margin: 0 36px 0 0;
    font-size: 36px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 44px;
    letter-spacing: -1.08px;
  }
  #sectionServices .card {
    margin-top: 30px;
  }
  #sectionServices .card:hover {
    box-shadow: 5px -5px 20px #cfcccc;
    transition: all .5s;
  }
  .card-title span{
    color: var(--main-color); 
    font-weight: bold;
  }
  .card-text {
    color: #777;
  }
  .cardLink{
    color: var(--main-color);
    text-decoration: none;
    padding: 10px;
  }
  .cardLink:hover{
    color: #fff;
  }
.hvr-sweep-to-bottom::before {
  background: var(--main-color) !important;
  border-radius: 5px !important;
}