body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --main-color: #1190cb;
  --green-color: #6aaf08
}

.navbar {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.navbar-brand {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.nav-link {
  color: var(--main-color) !important;
}
.navbar-toggler {
  border-color: var(--main-color) !important;
}
.navbar-toggler-icon {
  background-image: url(./images/menu.png);
}
.navbar-toggler:focus {
  box-shadow: none !important;
}

/* CarouselC.js */
.carousel-item {
  min-height: 535px !important;
}
#overlay1 {
  background-image: url(https://howtostartabusinessindubai.com/wp-content/uploads/2020/05/start-cleaning-company-dubai.jpg);
}
#overlay2 {
  background-image: url(https://nobl-business.com/wp-content/uploads/2020/07/s%C3%A9curit%C3%A9-surveillance-et-gardiennage-agadir.jpg);
  background-position: center;
}
#overlay3 {
  background-image: url(https://cdn.verbolia.com/api/images/H4sIAAAAAAAEAJWOsQ6CQBAFf8VsLSyVBZ2NnR3GeuE2x8EeR+4WhBj!XQzG3vIlLzPzhFsUKKFVHVOJ2JghnznWQRzlTfCYQnJ+lBWdJ8sJe14fIRrsKBo3oEaaaVqyfW6PvBstHOFCIjU1!Z90G4IVzsh8HKn4wq60OD!5uzPaQnkqiiOcRTkOpFzxopuh2jsOvw54vQF57Lzq2wAAAA==/travaux-jardinage.jpg);
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
}
.overlay::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
}
.carousel-caption {
  top: 250px;
}
.carousel-caption h1 {
  font-size: 60px !important;
}
